page-home {

.buttonL{
  width: 45%;
  margin-right: 3%;
  margin-left: -5%
  }
  .buttonR{
    width: 45%;
    margin-right: 3%;
    }

.horizontalButtonBar{
  bottom: 12px;
  position: fixed;
   text-align: center;
   width: 100%;
  }

.score{
  padding-left: 12px;
}

}
